/.Xauthority
/.bash_history
/.gnuplot_history
/.gv
/.histfile
/.ido.last
/.nvidia-settings-rc
/.safe.org.gpg
/.wpa_cli_history
/.xdvirc
/.xscreensaver
/.zcompdump
/aur
/music
/documents
/projects
/videos
/scripts
/courses
/.cache
/.elmo
/.config
/.w3m
/.ssh
/.nv
/.gnupg
/.local
/.pki
/.terminfo
/downloads
/.cups
/.lesshst
/.go
/.gstreamer*
/.emacs.d/mail
/.opera
/.conkeror.mozdev.org
/.emacs.d/eshell
/.emacs.d/tramp
/.mail
/mail
/.mu
/.subversion
/.repoconfig
/.emacs.d/url
/.authinfo.gpg
/.gimp*
/.icedtea
/.mpd
/.tahoe
/.thumbnails
